//Global reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    //This defines what 1rem is
    font-size: 62.5%;
    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

//Basic settings including font and padding
body {
    padding: 3rem; 
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    @include respond(tab-port) {
        padding: 0;
    }
    background-color: $color-primary;
}

Link {
    text-decoration: none;
    border: none;
}