.books {
  width: 20rem;
  height: 15rem;
  background-color: $color-tertiary;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;

   &__content {
    background-color: $color-primary;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   }

   &__image {
     font-size: 5rem;
     transition: all .2s;

     &:hover {
       transform: scale(1.25,1.25);
       cursor: pointer;
     }
   }

   &__title {
     text-align: center;
   }

   &__released {
     font-size: 1.5rem;
   }
}